.DS_Store

*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.blg

doc/softbeam/softbeam.pdf
doc/checkpoint1/acl2018.pdf

__pycache__

*.pyc

dataset/CoNLL-2003/indexed_*
dataset/CoNLL-2003/processed_*
dataset/CoNLL-2003/vocab_dict

gitignore
result
code/fig_exp1.pdf
result_*
doc/checkpoint2/acl2018.pdf
code/rl_beam_*
doc/report/report.pdf

