.DS_Store

*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.blg

doc/softbeam/softbeam.pdf
doc/checkpoint1/acl2018.pdf

__pycache__

*.pyc

dataset/CoNLL-2003/indexed_ENTITY_eng.testa
dataset/CoNLL-2003/indexed_ENTITY_eng.train
dataset/CoNLL-2003/indexed_SENTENCE_eng.testa
dataset/CoNLL-2003/indexed_SENTENCE_eng.train
dataset/CoNLL-2003/processed_ENTITY_eng.testa
dataset/CoNLL-2003/processed_ENTITY_eng.train
dataset/CoNLL-2003/processed_SENTENCE_eng.testa
dataset/CoNLL-2003/processed_SENTENCE_eng.train
dataset/CoNLL-2003/vocab_dict

gitignore

